.wrapperTodoList {
    display: block;
    height: 500px;
    width: 700px;
    margin-top: 20px;
    overflow: scroll;
    border-radius: 15px;
    background: #555452;
    color: white;
    box-shadow: 3px 0px 1.4em rgb(233, 233, 233), -3px 0 1.4em rgb(233, 233, 233);
}

.wrapperList {
    margin: 25px 25px 25px 50px;
}

.itemList {
    display: grid;
    grid-template-columns: 40px auto 30px;
    min-height: 35px;
}

.deleteItem {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    border-radius: 50px;
    color: #ea6161;
    background: #c2c2c2;
    transition-duration: 0.2s;
    text-align: center;
    &:hover {
        box-shadow: 3px 0px 1.4em rgb(233, 233, 233), -3px 0 1.4em rgb(233, 233, 233);
    };
    &:active {
        box-shadow: 3px 0px 1.4em rgb(233, 233, 233), -3px 0 1.4em rgb(233, 233, 233), 3px 0px 1.4em rgba(0, 0, 0, 0.20) inset, -3px 0 1.4em rgba(0, 0, 0, 0.20) inset;
    }
}

input:checked + span {
    text-decoration: line-through;
    text-decoration-color: #ea6161;
}
